@use "src/globals.scss" as *;

.cart {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-primary-900);

  .content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 20px;
      color: white;
      font-size: 2em;
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        transform: translateY(2px);
      }
    }

    h2 {
      font-size: 26px;
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      width: 100%;
      max-width: 600px;
      padding: 20px;
      background-color: var(--color-primary-700);

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px;
      }

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
        max-width: 900px;
      }

      @include midDesktop {
        max-width: 1100px;
      }

      @include bigDesktop {
        max-width: 1300px;
      }

      &-item {
        background-color: var(--color-primary-500);
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;

        .item-image {
          margin-top: 16px;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          @include tablet {
            aspect-ratio: 3/4;
          }
        }

        h3 {
          margin: 0 0 10px;
          text-align: center;
        }

        p {
          margin: 5px 0;
        }

        button {
          margin-top: 10px;
          padding: 8px 16px;
          background-color: var(--color-primary-200);
          border: none;
          border-radius: 5px;
          cursor: pointer;
          color: white;
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--color-primary-300);
          }
        }
      }
    }

    .empty-cart-message {
      text-align: center;
      color: white;
      font-size: 1.2em;
      max-width: 600px;
      margin: 40px auto;
      padding: 20px;
      background-color: var(--color-primary-700);
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .empty-cart-section {
      margin-top: 20px;
      width: 100%;
      max-width: 600px;
      text-align: center;
    }

    .empty-cart-btn {
      padding: 10px 20px;
      background-color: var(--color-error-60);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      font-size: 1.1em;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--color-error-30);
      }
    }

    .empty-cart-confirmation {
      background-color: var(--color-error-20);
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      p {
        color: white;
        margin-bottom: 15px;
      }

      .confirmation-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;

        button {
          padding: 8px 16px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1em;
          transition: background-color 0.2s;
        }

        .confirm-btn {
          background-color: var(--color-error-30);
          color: white;

          &:hover {
            background-color: var(--color-error-60);
          }
        }

        .cancel-btn {
          background-color: var(--color-primary-500);
          color: white;

          &:hover {
            background-color: var(--color-primary-600);
          }
        }
      }
    }
  }

  .cart-summary-container {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 660px;
    background-color: var(--color-primary-700);
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    @include tablet {
      padding: 40px;
    }
  }

  .cart-summary {
    text-align: center;

    h2 {
      margin-bottom: 20px;
      color: white;
    }

    .order-form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        label {
          color: white;
          font-size: 1.1em;
        }

        input,
        select {
          width: 100%;
          padding: 8px;
          border: none;
          border-radius: 5px;
          background-color: var(--color-primary-900);
          color: white;
          font-size: 1em;

          &:focus {
            outline: 2px solid var(--color-primary-500);
          }
        }
      }

      .send-order-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: var(--color-primary-500);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        font-size: 1.1em;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--color-primary-600);
        }
      }
    }
  }
}
