@use "src/globals.scss" as *;

.product {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-primary-900);

  h1 {
    text-align: center;
    margin-bottom: 6px;

    font-size: 24px;
    @include desktop {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 20px;
    @include desktop {
      font-size: 24px;
    }
  }

  &-content {
    flex: 1;

    padding: 20px;
    padding-left: 12px;
    padding-right: 12px;
    @include tablet {
      padding-left: 24px;
      padding-right: 24px;
    }
    @include desktop {
      padding-left: 48px;
      padding-right: 48px;
    }
    @include bigDesktop {
      max-width: 1300px;
      margin: 0 auto;
    }

    &-container {
      display: flex;
      gap: 24px;

      background-color: var(--color-primary-700);
      border-radius: 24px;

      padding: 12px;
      flex-direction: column;
      align-items: center;

      @include tablet {
        padding: 24px;
      }
      @include midDesktop {
        flex-direction: row;
        align-items: stretch;
      }

      // .item-image {
      //   max-width: 100%;

      //   @include midDesktop {
      //     max-width: 40%;
      //   }
      // }

      .product-info {
        display: flex;
        flex-direction: column;

        gap: 24px;
        width: 100%;

        &-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 24px;

          background-color: var(--color-primary-900);
          border-radius: 24px;
        }

        &-description {
          white-space: pre-wrap;
          font-size: 20px;

          margin-left: 18px;
          margin-right: 18px;
          margin-bottom: 16px;
        }

        &-cart-buttons {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-top: auto;

          .added-text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            font-size: 16px;
            color: var(--color-success-100);
            height: 40px;
          }

          .button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;

            box-shadow: 4px 4px 20px rgba(0, 0, 0, 1);
            font-size: 16px;
            color: white;
            border-radius: 12px;

            height: 40px;
            cursor: pointer;

            &.add {
              background-color: var(--color-primary-500);
              border: 1px solid var(--color-primary-200);
            }

            &.go-to-cart {
              background-color: var(--color-primary-600);
              border: 1px solid var(--color-primary-500);
            }

            &.continue-shopping {
              background-color: var(--color-primary-500);
              border: 1px solid var(--color-primary-200);
            }

            &.remove {
              gap: 2px;
              background-color: var(--color-error-30);
              border: 1px solid var(--color-error-30);
            }
          }
        }
      }
    }
  }
}
